﻿<div class="container-fluid bg-dark text-secondary mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            @await Component.InvokeAsync("LayoutFooterAbout")
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">@Localizer["QuickDelivery"]</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>@Localizer["Homepage"]</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>@Localizer["OurProducts"]</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>@Localizer["DailyDeals"]</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>@Localizer["Discounts"]</a>
                        <a class="text-secondary mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>@Localizer["MyBasket"]</a>
                        <a class="text-secondary" href="#"><i class="fa fa-angle-right mr-2"></i>@Localizer["ContactUs"]</a>
                    </div>
                </div>
                <div class="col-md-8 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">@Localizer["EmailNewsletter"]</h5>
                    <p>@Localizer["EmailNewsletterDescription"]</p>
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="@Localizer["YourEmailAddress"]">
                            <div class="input-group-append">
                                <button class="btn btn-primary">@Localizer["Subscribe"]</button>
                            </div>
                        </div>
                    </form>
                    <h6 class="text-secondary text-uppercase mt-4 mb-3">@Localizer["FollowUs"]</h6>
                    <div class="d-flex">
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fa fa-facebook-f"></i></a>
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fa fa-linkedin"></i></a>
                        <a class="btn btn-primary btn-square" href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-secondary">
                &copy; <a class="text-primary" href="#">MultiShop</a>. @Localizer["AllRightsReserved"]
            </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <img class="img-fluid" src="~/online-shop-website-template/img/payments.png" alt="">
        </div>
    </div>
</div>