@model UserDetailViewModel

@if (Model.Id is null)
{
    <div class="btn-group">
        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">@Localizer["UserSettings"]</button>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="/auth/login" class="dropdown-item" type="button">@Localizer["Login"]</a>
            <a href="/auth/register" class="dropdown-item" type="button">@Localizer["Register"]</a>
        </div>
    </div>
}
else
{
    <div class="btn-group">
        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">@Localizer["MyAccount"]</button>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="/user" class="dropdown-item" type="button">@Localizer["Profile"]</a>
            <a href="/user/logout" class="dropdown-item" type="button">@Localizer["Logout"]</a>
        </div>
    </div>
}