@model ResultProductDto

@{
    ViewData["Title"] = "Ürün güncelleme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h3>Ürün güncelle</h3>
    <p>Varolan ürünü güncellemek için aşağıdaki formda yer alan bütün alanları doldurmanız gerekir.</p>
</section>

<div class="row">
    <div class="col-md-12">
        <div class="chart-box">
            <form asp-action="Update" asp-controller="Product" asp-area="Admin" method="post">
                <input type="hidden" class="form-control" name="id" value="@Model.Id">
                <div style="display:none;">
                    @for (int i = 0; i < Model.AdditionalImageUrls.Count; i++)
                    {
                        <input type="hidden" name="AdditionalImageUrls[@i]" value="@Model.AdditionalImageUrls[i]" />
                    }
                </div>
                <div class="form-group">
                    <label for="name">Ürün adı</label>
                    <input type="text" class="form-control" id="name" name="name" value="@Model.Name">
                </div>
                <div class="form-group">
                    <label for="price">Ürün fiyatı</label>
                    <input type="number" class="form-control" id="price" name="price" value="@Model.Price">
                </div>
                <div class="form-group">
                    <label for="categoryId">Ürünün kategorisi</label>
                    <select class="form-control" asp-for="CategoryId" asp-items="ViewBag.Categories">
                    </select>
                </div>
                <div class="form-group">
                    <label for="thumbnailImageUrl">Ürün kapak fotoğrafı</label>
                    <input type="text" class="form-control" id="thumbnailImageUrl" name="thumbnailImageUrl" value="@Model.ThumbnailImageUrl">
                </div>
                <div class="form-group">
                    <label for="description">Ürün açıklaması</label>
                    <textarea class="form-control" id="description" rows="3" name="description">@Model.Description</textarea>
                </div>
                <button type="submit" class="btn btn-default">Gönder</button>
            </form>
        </div>
    </div>
</div>
